#MISCELLANEOUS
*.swp
~*
*~
*.tmp

## FISH
*_
_*

## nvim
shada
ctags
packer_compiled.lua

## all in .config/
Thunar
VirtualBox
chromium
htop
neofetch
pavucontrol.ini
pulse
transmission
vlc
xfce4
menus
dconf
