# folders
auto-save-list/
etc/
elpa*/
eshell/
packages/
var/
transient/
OrgFiles/
.cache/
themes/
url/
racket-mode/
.cache/
org/
eln-cache/
tree-sitter/
tutorial/

*.#
.#*
*#
#*
~*
*~

history
places
recentf
notes
projects
.lsp-session*
flycheck_init*

.nrepl-port

projectile-bookmarks.eld
forge-database.sqlite
Hello.org
bookmarks
TAGS
tags
